<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <style>
.ss
{
background-color:black;
border-radius:50px;
padding:1px;
width:100%;
height:200px;
box-shadow:0 0 10px black;
opacity:0.5;
}
.sri02
{
color:white;
padding:10px;
position:absolute;
top:200px;
left:650px;
font-size:40px;
background-color:#66CC00;
border-radius:10px;
}
.sri03
{
font-size:22px;
text-align:center;
padding:50px;
background-color:
}
.mn
{
width:300px;
height:300px;
}
</style>
</head>
<body>
<div>
    {% include "header.html" %}
</div>
<div class="sri01">
    <img class="ss" src="/static/aboutbg.jpeg">
</div>
<div class="sri02">
    ABOUT US
</div>
<div class="sri04">
<center> <img class="mn" src="/static/about.jpeg"></center>
</div>
<div>
    <center><font size="10"><b>what we do</b></font></center>
</div>
<div class="sri03">
                          This website is used to intermediate between the farmer or seller and user.<br> Seller upload
    product with detail and buyer view these detail and book that product with in a time. <br>This application gives support
    to the farmers/sellers who want to use this facility and who want to learn how it is possible and how they can use
    e-forming to sell that product.<br>  this platform will help farmer to find out nearest market, its current stock
    details and demands for particular within less time and with the less effort.
 		This website aims at giving a profitable price to farmers to their farm products cutting the middlemen. This
    allows the retailers or the customers to buy products from the farmers at a lower than the normal price.

</div>
<br>
<div>
    {% include "footer.html" %}
</div>
</body>
</html>