<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Products</title>
  <style>

        .na
        {
        text-decoration:none;
        color:white;
        background-color:#009900;
        border:3px solid white;
         padding:20px;
         font-size:24px;
        }
        .na:hover
        {
         background-color:#006600;
         color:white;
        }
        .tds
{
padding:20px;
margin:50px;
background-color:rgba(224,224,224,0.5);
border-radius:10px;
}
.tab
{
padding:20px 30px;

}
.std
{
padding:30px;
}
    </style>
</head>
<body>
<div>
    {% include "header.html" %}
</div>
<br>
<br>
<div class="nv">
    <a class="na" href="ManageProducts" style="border-top-left-radius:20px; background-color:#006600;">Manage Products </a>
    <a class="na" href="ManageSellers" style="border-bottom-right-radius:20px;">Manage Sellers </a>
</div>
<br><br>

<div>
    <h1>Product</h1>
    <table class="tab" border="0">
    <tr>
        <td class="std"></td>
        <td class="tds"><a href="afruits"> <img class="logo" src="/static/fruitlogo.jpg" height="150px" width="150px"></a>
      <br><center><label>Fruits</label></center></td><td class="std"></td>
        <td class="tds"><a href="avegetables"> <img class="logo" src="/static/vegelogo.jpg" height="150px" width="150px"></a>
      <br><center><label>Vegetables</label></center></td><td class="std"></td>
        <td class="tds"><a href="ahomemade"> <img class="logo" src="/static/homemadelogo.jpg" height="150px" width="150px"></a>
      <br><center><label>Homemade</label></center></td><td class="std"></td>
        <td class="tds"><a href="ahandcraft"> <img class="logo" src="/static/pott.jpg" height="150px" width="150px"></a>
      <br><center><label>Handcraft</label></center></td>
    </tr></table>
</div>

<div>
    {% include "footer.html" %}
</div>
</body>
</html>